/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-16, 08:49:29
    Author     : Tomek Jacek
*/
@font-face {
	font-family: CooperChewitBold;
	src: url(../fonts/CooperHewitt-Bold.otf);
}
@mixin position($position, $index) {
	position: $position;
	z-index: $index;
}
@media screen and (min-width: 1920px) {
	html {
		height: 100%;
	}
}
body {
	@include position(relative, 1001);
	font: {
		family: CooperChewitBold, sans-serif;
		size: 16px;
		weight: 700;
	}
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
}
.clearfix:after, .clearfix:before {
	content: "";
	clear: both;
	width: 100%;
}
ul {
	&.unstyled {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&.inline {
		li {
			display: inline-block;
		}
	}
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.container-fluid {
	position: relative;
	z-index: 1003;
}
a {
	&.hover {
		@include position(relative, 1001);
		&:hover {
			img {
				&.normal-state {
					opacity: 0;
				}
				&.hover-state {
					opacity: 1;
				}
			}
		}
	}
	img {
		&.normal-state, &.hover-state {
			transition: opacity .3s;
		}
		&.normal-state {
			@include position(relative, 1001);
			left: 0;
			top: 0;
		}
		&.hover-state {
			@include position(absolute, 1002);
			opacity: 0;
			left: 0;
			bottom: 4px;
		}
	}
}
#content {
	@include position(relative, 1001);
	background: url("../images/main-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;
	width: 100%;
	&:after {
		@include position(absolute, 1002);
		background-color: rgba(#000, .65);
		content: "";
		left: 0;
		height: 100%;
		top: 0;
		width: 100%;
	}
	.container {
		@include position(relative, 1003);
	}
	.header {
		padding: 45px 42px 0;
		.brand {
			img {
				width: 100%;
			}
		}
		.social-media {
			ul {
				li {
					margin: 0 0 15px;
				}
			}
		}
	}
	.content {
		text-align: center;
		.logos {
			padding: 255px 0 65px;
			img {
				&.small-image {
					display: none;
				}
			}
		}
		.trailer-button {
			p {
				color: #fff;
				text-transform: uppercase;
			}
		}
	}
}
.footer {
	text-align: center;
	margin: 0 auto;
	width: 74%;
	position: relative;
	padding-top: 125px;
	z-index: 1003;
	ul {
		text-align: justify;
		width: 100%;
		&:after {
			content: "";
			display: inline-block;
			width: 100%;
		}
		li {
			vertical-align: middle;
			width: 13%;
			img {
				display: block;
				margin: 0 auto;
				max-width: 100%;
			}
		}
	}
}
@media screen and (max-width: 964px) {
	.container {
		margin: 0 auto;
		width: 760px;
	}
	.content {
		.logos {
			img {
				max-width: 90%;
			}
		}
	}
	.footer {
		ul {
			li {
				margin-bottom: 15px;
				width: 24%;
				&:nth-child(5), &:nth-child(8), &:nth-child(7) {
					width: 32%;
				}
				img {
					max-height: 65px;
					max-width: 80%;
				}
			}
		}
	}
}
@media screen and (max-width: 760px) {
	body {
		height: auto;
	}
	#content {
		background-position: top center;
		background-size: auto 69%;
	}
	.container {
		margin: 0 auto;
		height: 516px;
		width: 320px;
		.header {
			padding: 20px 20px 0 !important;
			.brand {
				width: 50%;
			}
			.social-media {
				ul {
					li {
						margin-bottom: 5px !important;
					}
				}
			}
		}
	}
	.content {
		.logos {
			padding: 165px 0 40px !important;
			img {
				&.main-image {
					display: none !important;
				}
				&.small-image {
					display: inline !important;
				}
			}
		}
	}
	.footer {
		background-color: #000;
		padding-top: 30px;
		width: 100%;
		ul {
			margin: 0 auto;
			text-align: center;
			width: 320px;
			li {
				margin-bottom: 15px; 
				width: 49%;
				img {
					max-height: 65px;
					width: auto;
				}
			}
		}
	}

}


